{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/elliptic
  {:git/url "https://github.com/nuid/elliptic.git",
   :sha "0c573a0bfc5ecf3792d5d2fd63b8e82b544fbe9e"},
  nuid/codec
  {:git/url "https://github.com/nuid/codec.git",
   :sha "ddb61ba39cc9cb8540735f329aef77bf9c513cde"},
  nuid/zk
  {:git/url "https://github.com/nuid/zk.git",
   :sha "30d494bf239d3be8f4921c9d42d21f12d74c3399"},
  nuid/base64
  {:git/url "https://github.com/nuid/base64.git",
   :sha "1973314afc3710a045d617830a8fa64d86cecb11"},
  nuid/cryptography
  {:git/url "https://github.com/nuid/cryptography.git",
   :sha "46667476309e5d0172a447851c205222491441a1"},
  org.clojure/test.check {:mvn/version "1.0.0"},
  nuid/spec
  {:git/url "https://github.com/nuid/spec.git",
   :sha "ad05529d0cddaf703c501e1513a45db0ff91acfe"}},
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
