{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/elliptic
  {:git/url "https://github.com/nuid/elliptic.git",
   :sha "6b235e2d0b1d54d6e319ca8b6de59884dec8feec"},
  nuid/codec
  {:git/url "https://github.com/nuid/codec.git",
   :sha "defcda403e6ee31e6e492017177136ad855fe203"},
  nuid/zk
  {:git/url "https://github.com/nuid/zk.git",
   :sha "0d46b4e023e6fdd3cf85b791d51c233513e9cb52"},
  nuid/base64
  {:git/url "https://github.com/nuid/base64.git",
   :sha "bfcd083c49dad1137b7e3f41ae167e1ece4f3d7b"},
  nuid/cryptography
  {:git/url "https://github.com/nuid/cryptography.git",
   :sha "67b5bc8c276f8289d6185853a0b66aee43b5f68a"},
  org.clojure/test.check {:mvn/version "1.0.0"},
  nuid/spec
  {:git/url "https://github.com/nuid/spec.git",
   :sha "50b7d4bc6ae0ad404b337732a913dc50d30cd6db"}},
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
